.order-Btn {
    padding: 15px;
    font-weight: 600;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;

    &:hover {
        color: #000;
    }
}