.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 25px;

  .total-items {
    text-align: left;
    width: 100%;

    span {
      margin-inline: 5px;
    }
  }

  .form-category {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;

    input[type="text"],
    select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      background-color: #fff !important;
      border-radius: 4px;
    }

    input [type="select"] {
      padding: 10px;
    }
  }

  .add-Btn {
    padding: 8px 20px;
    border: 2px solid teal;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    font-weight: 500;

    &:hover {
      background-color: #f8f4f4;
    }
  }

  .products-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .products-list-container {
    flex-direction: column;
    width: 100%;
  }
}
