.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  .title {
    font-size: 20px;
    font-weight: 600;
  }
  .subTitle {
    font-size: 20px;
  }
  button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: teal;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    &:hover {
      color: #000;
    }
  }
}
